<div class="row">
  <div class="col-sm-12">
    <h1>Courses</h1>
  </div>
</div>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2><%= link_to course.title, course %></h2>
      <h4>by <%= course.author %></h4>
      <h5><%= truncate(course.description, length: 400) %></h5>
      <%= link_to 'Start learning now ->', course, class: 'btn btn-default pull-right' %>
    </div>
  <% end %>
</div>
